sup.field-tooltip {
    margin-right: 5px;
}

sup.field-tooltip:hover {
    cursor: pointer;
}

.tooltip-icon {
    color: #666666;
    background: none;
    border: none;
    display: inline-block;
    width: 0;
    font-size: 12px;
    margin-left: 0px;
}

.popover-footer {
    margin: 0;
    padding: 8px 14px;
    background-color: #f7f7f7;
}
