/* Styles for signature plugin v1.1.0. */
/* .kbw-signature {
	height : "100px";
	width : "150px";
} */


.openerp .oe_form_readonly .oe_edit_only, .openerp .oe_form_readonly .oe_form_field:empty {
  display: none !important;
}