.openerp .oe_form_sheet_width
{
    max-width: none;
}
.openerp .oe_form_sheetbg
{
    padding: 16px;
}

.openerp .oe_form div.oe_chatter {
    max-width: 100%;
}

.modal .modal-lg {
    width: 100%;
}

.modal .modal-dialog {
    padding: 30px;
}
