.oe_cp_refresher {
    margin: auto 0 auto auto;
    padding-left: 5px;
    text-align: right;
    user-select: none;
    flex-grow: 1;
}
.o_cp_bottom_right.oe_cp_refresher {
    display: flex;
    flex-direction: row-reverse;
}
