/**********************************************************************************
*
*    Copyright 2017-2019 MuK IT GmbH.
*    License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl.html).
*
**********************************************************************************/

$o-searchpanel-w: 220px;

$o-searchpanel-p: $o-horizontal-padding;
$o-searchpanel-p-small: $o-horizontal-padding*0.5;
$o-searchpanel-p-tiny: $o-searchpanel-p-small*0.5;

$o-searchpanel-category-default-color: $o-brand-primary;
$o-searchpanel-filter-default-color: $o-brand-odoo;