.demo_menu {
    font-weight: bold;
    font-style: italic;
    color: #714b67;
}

.demo_button {
    border: 1px solid #71639e;
    border-radius: 0.25rem;
    padding: 0.25rem 0.7rem;
    font-weight: bold;
    color: #343a40;
    background-color: #dee2e6;
    border-color: #dee2e6 !important;
}

.demo_field {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-weight: bold;
}
