<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright 2018 Alexandre Díaz
    License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl.html).
-->

<odoo>

    <template id="webclient_bootstrap"
              inherit_id="web.webclient_bootstrap"
              name="App Drawer - Web Client"
              >
        <xpath expr="//*[hasclass('o_main')]" position="attributes">
            <attribute name="t-attf-class">o_main o_chatter_position_{{ request.env.user.chatter_position or 'normal' }}</attribute>
        </xpath>
    </template>

</odoo>
