/* list_activity widget */
.o_list_view {
    .o_list_table tbody > tr {
        > td.o_data_cell.o_list_activity_cell {
            overflow: visible !important; // allow the activity dropdown to overflow
            .o_mail_activity {
                display: flex;
                max-width: 275px;
                .o_activity_btn {
                    margin-right: 3px;
                }
                .o_activity_summary {
                    @include o-text-overflow;
                }
            }
        }
    }
}
