@include media-breakpoint-up(md) {
    .o_control_panel {
        .o_cp_top {
            display: block;
        }

        .o_cp_top_left {
            // Breadcrumb container
            width: 100%;
            margin-bottom: 5px;
        }

        .o_cp_top_right {
            // Searchview container
            width: 100%;
        }

        .o_cp_bottom_left {
            width: 45%;
        }

        .o_cp_bottom_right {
            width: 55%;
        }
    }
}
