.text-counter-widget{
        background-color: transparent;
        float: right;
        white-space: pre-wrap;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 2px 4px;
        color: #1f1f1f;
    div.text-counter-widget {
        white-space: pre-wrap;
    }
}