.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_public,
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_private, 
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_add_custom_tab {
    display: inline-block;
    padding-right: 10px;
    background-color: #ededed !important;
    border: thin solid #cacaca;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: visible;
    font-weight: bold;
}
.oe_searchview_custom_public > span, .oe_searchview_custom_private > span, .oe_searchview_add_custom_tab > span {
    padding: 8px;
}
.oe_searchview_add_custom_tab > span {
    background: url("/web/static/src/css/../img/icons/gtk-add.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    margin-left: 5px; 
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_filter_tab_delete {
    background: url("/web/static/src/css/../img/search_reset.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    padding: 6px;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row > td {
    line-height: 30px !important;
}
.oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_tabs_div {
    border-bottom: thin solid #cacaca;
    margin-top: 4px;
    display: block;
}
.oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_tabs_div > div {
    display: inline;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_add_custom_tab {
    margin-top: 4px;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_public.oe_active_tab,
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_private.oe_active_tab,
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_private.oe_active_tab > a,
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_public.oe_active_tab > a {
    background: #7C7BAD !important;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    //border: thin solid #333333;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_searchview_custom_tabs {
    display: inline;
    padding: 0px 0px;
    right: 5px;
}
.openerp .oe_form_filter .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form_filter .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form_filter .oe_form_required textarea:not([disabled]):not([readonly]) {
  background-color: #d2d2ff !important;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private {
    cursor: pointer;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color0:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color0:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color0.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color0.oe_active_tab {
    border-top: thick solid #4986E7;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color1:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color1:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color1.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color1.oe_active_tab {
    border-top: thick solid #16A765;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color2:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color2:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color2.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color2.oe_active_tab {
    border-top: thick solid #F24646;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color3:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color3:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color3.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color3.oe_active_tab {
    border-top: thick solid #F0D278;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color4:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color4:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color4.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color4.oe_active_tab {
    border-top: thick solid #A2F252;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color5:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color5:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color5.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color5.oe_active_tab {
    border-top: thick solid #83F29F;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color6:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color6:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color6.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color6.oe_active_tab {
    border-top: thick solid #7FF0F0;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color7:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color7:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color7.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color7.oe_active_tab {
    border-top: thick solid #B0C1F5;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color8:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color8:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color8.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color8.oe_active_tab {
    border-top: thick solid #D2ADF7;
}
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color9:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color9:hover,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_public.oe_color9.oe_active_tab,
.openerp .oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_private.oe_color9.oe_active_tab {
    border-top: thick solid #F7B0E5;
}
