.o_diagram_view {
	background-color: white;

	.o_diagram_header {
		@include o-webclient-padding($top: 16px, $bottom: 16px);
		> span {
			display: block;
			text-align: justify;
		}
	}
}

.o_diagram {
	overflow: auto;
	background-color: white;
}
