.css_attribute_color {
    position: relative;
    display: inline-block;
    border: 5px solid $input-border-color;
    border-radius: 0%;
    text-align: center;
    transition: $input-transition;

    @include o-field-pointer();

    &:before {
        content: "";
        display: block;
        @include o-position-absolute(-3px, -3px, -3px, -3px);
        border: 4px solid white;
        border-radius: 0%;
        box-shadow: inset 0 0 3px rgba(black, 0.3);
    }

    input {
        margin: 0px;
        height: 60px;
        width: 60px;
        opacity: 0;
    }

    &.active {
        border: 5px solid map-get($theme-colors, "primary");
    }

    &.custom_value {
        background-image: linear-gradient(to bottom right, #ff0000, #fff200, #1e9600);
    }

    &.transparent {
        background-image: url(/web/static/img/transparent.png);
    }
}
