.openerp .oe_application .oe_breadcrumb_item:not(:last-child)
{
    max-width: inherit;
}
.openerp .oe_searchview
{
    width: 100%;
}
.openerp .oe_view_manager_current > .oe_view_manager_header .oe_header_row_top td
{
    padding-bottom: 0px;
}
.openerp .oe_view_manager_current > .oe_view_manager_header span.oe_breadcrumb_item
{
    padding-top: 3px;
}
.openerp .oe_view_manager table.oe_view_manager_header h2
{
    line-height: 20px;
}
