$one2many-product-picker-card-min-height: 150px;
$one2many-product-picker-card-max-height: 150px;
$one2many-product-picker-transition-3d-time: 0.15s;
$one2many-product-picker-card-form-padding: 0em;
$one2many-product-picker-quick-modif-price-max-width: 400px;
$one2many-product-picker-zoom-scale: 1.4;
