/* Copyright 2017 Jairo Llopis <jairo.llopis@tecnativa.com>
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

@colorpicker-img-path: "./";

.colorpicker {
    .bg-custom {
        display: inherit;
        .colorpicker-visible {
            min-width: initial;
            padding: 1ex;
        }
    }
}
