/* Copyright 2017-2019 Jairo Llopis <jairo.llopis@tecnativa.com>
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

.snippet-option-colorpicker {
    .o_colorpicker_section[data-name="custom"] > .text-muted {
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: gray("400");
            color: $black;
        }
    }
}
