<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <template id="assets_backend" name="web_customisable_date_format backend assets" inherit_id="web.assets_backend">
    <xpath expr="." position="inside">
      <script type="text/javascript" src="/web_customisable_date_format/static/src/js/formats.js"></script>
    </xpath>
  </template>

</odoo>
