.o_content {
    .o_drag_over {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px dashed #4c4c4c;
        pointer-events: none;
        .o_drag_over_content {
            position: relative;
            top: 50%;
            transform: translate(0%, -50%);
            width: 100%;
            text-align: center;
        }
    }
}
