.openerp .oe_sidebar .oe_dropdown_menu .oe_sidebar_add_attachment{
    height:auto;
    width:500px;
}

.progressBar{
    width: 100px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}
.progressBar div{
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #7c7bad; border-radius: 3px;
}
.statusbar{
    border-top:1px solid #dddddd;
    min-height:25px;
    width:480px;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbarFiles{
    border-top:1px solid #dddddd;
    min-height:25px;
    width:100%;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#efeff8;
}
.filename{
    display:inline-block;
    vertical-align:top;
    width:200px;
}
.filesize{
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    width:80px;
    margin-left:10px;
    margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    display:inline-block;
    color:#fff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
}
.dropText{
    padding-left: 80%;
    font-size: 18px;
    font-weight: bolder;
    color: #AAA9A9;
}
.dropFiles{
    padding-left: 40%;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 4%;
    color: #AAA9A9;
}
#status{
    margin-top:50px;
}

/*START Document Tab*/

tr.dropText{
    height:50px;
    border: 2px dotted #7c7bad;
}

tr.dropText td{
    vertical-align: middle;
}

tr.dropText span{
    margin-left: 25%;
}

/*END Document Tab*/