// = DayPilot View Dark Mode Variables
// ============================================================================

$daypilot-border-color: $o-gray-700 !default;
$daypilot-highlight-today-bg: #2a2a2a !default;
$daypilot-highlight-today-border: #dca665 !default;
$daypilot-highlight-hover-row: rgba($o-brand-primary-dark, 0.2) !default;
