// = DayPilot View Variables
// ============================================================================

$daypilot-border-color: $o-gray-300 !default;
$daypilot-highlight-today-bg: #fffaeb !default;
$daypilot-highlight-today-border: #dca665 !default;
$daypilot-highlight-hover-row: rgba($o-brand-primary, 0.1) !default;
