.o_field_text_markdown {
    font-size: 15px;
    line-height: 1.7;
    overflow: hidden;
}

.o_field_text_markdown pre {
    background-color: #333 !important;
    padding: 10px;
}

.o_field_text_markdown .md-editor.md-fullscreen-mode .md-input,
.md-editor.md-fullscreen-mode .md-preview {
    font-size: 13px !important;
}

.md-editor.md-fullscreen-mode {
    margin-top: 50px;
}

.md-editor.md-fullscreen-mode .md-header {
    top: 70px;
}

.o_field_text_markdown > *:first-child {
    margin-top: 0 !important;
}

.o_field_text_markdown > *:last-child {
    margin-bottom: 0 !important;
}

.o_field_text_markdown a.absent {
    color: #c00;
}

.o_field_text_markdown a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.o_field_text_markdown h1,
.o_field_text_markdown h2,
.o_field_text_markdown h3,
.o_field_text_markdown h4,
.o_field_text_markdown h5,
.o_field_text_markdown h6 {
    margin: 1em 0 15px;
    padding: 0;
    font-weight: bold;
    line-height: 1.7;
    cursor: text;
    position: relative;
}

.o_field_text_markdown h1 .octicon-link,
.o_field_text_markdown h2 .octicon-link,
.o_field_text_markdown h3 .octicon-link,
.o_field_text_markdown h4 .octicon-link,
.o_field_text_markdown h5 .octicon-link,
.o_field_text_markdown h6 .octicon-link {
    display: none;
    color: #000;
}

.o_field_text_markdown h1:hover a.anchor,
.o_field_text_markdown h2:hover a.anchor,
.o_field_text_markdown h3:hover a.anchor,
.o_field_text_markdown h4:hover a.anchor,
.o_field_text_markdown h5:hover a.anchor,
.o_field_text_markdown h6:hover a.anchor {
    text-decoration: none;
    line-height: 1;
    padding-left: 0;
    margin-left: -22px;
    top: 15%;
}

.o_field_text_markdown h1:hover a.anchor .octicon-link,
.o_field_text_markdown h2:hover a.anchor .octicon-link,
.o_field_text_markdown h3:hover a.anchor .octicon-link,
.o_field_text_markdown h4:hover a.anchor .octicon-link,
.o_field_text_markdown h5:hover a.anchor .octicon-link,
.o_field_text_markdown h6:hover a.anchor .octicon-link {
    display: inline-block;
}

.o_field_text_markdown h1 tt,
.o_field_text_markdown h1 code,
.o_field_text_markdown h2 tt,
.o_field_text_markdown h2 code,
.o_field_text_markdown h3 tt,
.o_field_text_markdown h3 code,
.o_field_text_markdown h4 tt,
.o_field_text_markdown h4 code,
.o_field_text_markdown h5 tt,
.o_field_text_markdown h5 code,
.o_field_text_markdown h6 tt,
.o_field_text_markdown h6 code {
    font-size: inherit;
}

.o_field_text_markdown h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #ddd;
}

.o_field_text_markdown h2 {
    font-size: 2em;
    border-bottom: 1px solid #eee;
}

.o_field_text_markdown h3 {
    font-size: 1.5em;
}

.o_field_text_markdown h4 {
    font-size: 1.2em;
}

.o_field_text_markdown h5 {
    font-size: 1em;
}

.o_field_text_markdown h6 {
    color: #777;
    font-size: 1em;
}

.o_field_text_markdown p,
.o_field_text_markdown blockquote,
.o_field_text_markdown ul,
.o_field_text_markdown ol,
.o_field_text_markdown dl,
.o_field_text_markdown table,
.o_field_text_markdown pre {
    margin: 15px 0;
}

.o_field_text_markdown hr {
    border: 0 none;
    color: #ccc;
    height: 4px;
    padding: 0;
    margin: 15px 0;
}

.o_field_text_markdown li p.first {
    display: inline-block;
}

.o_field_text_markdown ul,
.o_field_text_markdown ol {
    padding-left: 30px;
}

.o_field_text_markdown ul.no-list,
.o_field_text_markdown ol.no-list {
    list-style-type: none;
    padding: 0;
}

.o_field_text_markdown ul ul,
.o_field_text_markdown ul ol,
.o_field_text_markdown ol ol,
.o_field_text_markdown ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.o_field_text_markdown dl {
    padding: 0;
}

.o_field_text_markdown a.btn {
    color: white;
}

.o_field_text_markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 15px;
}

.o_field_text_markdown dl dd {
    margin-bottom: 15px;
    padding: 0 15px;
}

.o_field_text_markdown blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 1em 10px 0.1em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
