.oe_form_field_bi_editor {
    /*box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);*/
    border: 1px solid #DDDDDD;
}

.oe_form_field_bi_editor .header, .oe_form_field_bi_editor .footer {
    width: 100%;
    height: 50px;
    background-color: #7c7bad;
    color: #000;
}

.oe_form_field_bi_editor .footer {
    background-color: #FFF;
    border-top: 1px solid #DDDDDD;
}

.oe_form_field_bi_editor .header .left, .oe_form_field_bi_editor .footer .left {
    width: 75%;
    float: left;
    line-height: 50px;
    padding-left: 10px;
    padding-top: 13px;
}

.oe_form_field_bi_editor .header .right, .oe_form_field_bi_editor .footer .right {
    width: 25%;
    float: right;
    padding-top: 13px;
    padding-right: 15px;
    text-align: right;
}

.oe_form_field_bi_editor .body {
    padding-bottom: 0px;    
}

.oe_form_field_bi_editor .body .left {
    float: left;
    width: 30%;
    box-sizing: border-box;
    border-right: 1px solid #DDDDDD;
}

.oe_form_field_bi_editor .body .left .search-bar {
    height: 23px;
    width: 100%;
    position: relative;
}

.oe_form_field_bi_editor .body .left .search-bar input {
    width: 100%;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding-left: 18px;
    padding-top: 4px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.oe_form_field_bi_editor .body .left .search-bar span {
    position: absolute;
    left: 3px;
    top: 5px;
    z-index: 2;
}

.oe_form_field_bi_editor .body .left .class-list {
    height: 400px; /* FIXME */
    overflow-y: scroll;
    overflow-x: hidden;
}

.oe_form_field_bi_editor .body .left .class-list .class {
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.oe_form_field_bi_editor .body .left  .class-list .class:hover {
    background-color: #7C7BAD;
    color: #FFF;
}

.oe_form_field_bi_editor .body .left  .class-list .field {
    font-weight: normal;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.oe_form_field_bi_editor .body .right {
    width: 70%;
    float: left;
    box-sizing: border-box;
    height: 423px; /* FIXME */
    overflow-y: scroll;
    overflow-x: hidden;
}

.oe_form_field_bi_editor .body .right .field-list { 
    width: 100%;
}

.oe_form_field_bi_editor .body .right .field-list th, 
.oe_form_field_bi_editor .body .right .field-list td { 
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: middle;
}

.oe_form_field_bi_editor .body .right .field-list tbody tr button.delete-button,
.oe_form_field_bi_editor .body .right .field-list tbody tr button.delete-button:hover {
    background-color: transparent;
    border: none;
    background-image: none;
	padding: 0;
	cursor: pointer;
}

.oe_form_field_bi_editor .body .right .field-list tbody tr:hover {
    background-color: #DDD;
}

.oe_form_field_bi_editor .context-menu, .oe_form_field_bi_editor .context-menu ul {
    display: none;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #DDDDDD;
    list-style-type: none;
    padding: 0px;
    width: 175px;
    
}

.oe_form_field_bi_editor .context-menu li {
    padding: 5px;
    height: 28px;
    cursor: pointer;
}

.oe_form_field_bi_editor .context-menu li:hover {
    background-color: #7C7BAD;
    color: #FFF;
}

.oe_form_field_bi_editor .context-menu ul {
    display: none;
    margin-left: 165px;
    margin-top: -24px;
}

.oe_form_field_bi_editor .context-menu ul:hover {
    display: none;
    margin-left: 165px;
    margin-top: -24px;
}


.clear {
    clear: both;
}

.displaynone {
    display: none;
}
