.o_notebook {
    --notebook-link-border-color: #{$nav-tabs-border-color};
    --notebook-link-border-color-hover: #{$nav-tabs-border-color};
    --notebook-link-border-color-active-accent: #{$o-main-link-color};
}
