/*Menu superior*/
.navbar-inverse {
background-color: #34393D;
border-color: #444;
}
/*avatar do usuario*/
#oe_main_menu_navbar .oe_topbar_avatar {
  max-height: 21px;
  border-radius: 5px;
}


/*Barra superior*/
.openerp .oe_view_manager_current > .oe_view_manager_header {
  border-bottom: 1px solid #0072C5;
  background-color: #0072C5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dedede));
  background-image: -webkit-linear-gradient(top, #0072C5, #0072C5);
  background-image: -moz-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -ms-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -o-linear-gradient(top, #fcfcfc, #dedede);
  background-image: linear-gradient(to bottom, #0072C5, #0072C5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}
 /*Textos da barra superior*/
.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row {
clear: both;
text-shadow: 0 0 0 black;
color: white;
}
/*Texto-link barra superior*/
.openerp .oe_view_manager table.oe_view_manager_header h2 a {
  color: #0094FF;
}
a.oe_breadcrumb_item {
  text-shadow: 1px 1px 1px black;
}
/*Selector de vista*/
.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group a {
color: white;
}
/*selector de vista completo*/
.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group {
  display: inline-block;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/*opecion selecionada en la vista*/
.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group .active {
  background: #999;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
  }

  /*passar proxima pagina y pagina anterior*/
.openerp .oe_pager_group {
  float: left;
  height: 26px;
  line-height: 24px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/*contador de paginas*/
.openerp .oe_pager_value {
  float: left;
  margin-right: 8px;
 /* border: 1px solid #FFFFFF; */
  border-radius: 5px;
  height: 26px;
}

.openerp .oe_i {
  font-family: "mnmliconsRegular" !important;
  font-size: 21px;
  font-weight: 300 !important;
  color: white;
}
/*opcao selecionada no campo de busca*/
.openerp .oe_searchview .oe-autocomplete ul li.oe-selection-focus {
  background-color: #0072C5;
  color: white;
}
/*tag de la busqueda*/
.openerp .oe_searchview .oe_searchview_facets .oe_searchview_facet .oe_facet_values {
background: #DBD9FF;
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
}
.openerp .oe_tag_dark {
background: #0500FF;
color: #eee;
}
/*Seach view, titulos "Favoritos, Filtros, Agrupados"*/
.openerp .oe_searchview_drawer dt {
color: #0072C5;
font-size: 13px;
line-height: 24px;
}

/*Formato campo de busca*/
.openerp .oe_searchview {
  cursor: text;
  position: relative;
  float: right;
  padding: 1px 0;
  line-height: 15px;
  min-width: 400px;
  border: 0px solid #3C37FF;
  color: black;
  background: white;
  text-shadow: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/*Seta que abre o as opcoes de busca*/
.openerp .oe_searchview .oe_searchview_unfold_drawer {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  padding: 0 7px 0 4px;
  color: #ccc;
  cursor: pointer;
}
/*x que limpa o campo de busca
.openerp .oe_searchview .oe_searchview_clear {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 18px;
  width: 15px;
  height: 24px;
  background: url(../img/search_reset.gif) center center no-repeat;
}
/*Lupa do campo de busca*/
.openerp .oe_searchview .oe_searchview_search {
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
  text-shadow: none;
  font-weight: normal;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: absolute;
  left: 3px;
  top: 1px;
  padding: 0;
  border: none;
  background: transparent;
}
/*Cancel button*/
.openerp .oe_button.oe_link span {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 1px 1px 1px black;
  color: #0094FF;
  font-weight: bold;
}
/*botao cancelar dentro de importar*/
a.oe_import_cancel {
text-shadow: 1px 1px 1px #00040D;
font-weight: bold;
}

/*Boton descartar*/
a.oe_bold.oe_form_button_cancel {
text-shadow: 1px 1px 1px black;
}

/*Debug menu*/
.openerp input, .openerp textarea, .openerp select {
  padding: 2px 4px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: black;
  background: white;
}
/*barra superior configuracoes*/
.openerp .oe_form header {
  border-bottom: 1px solid #cacaca;
  padding-left: 2px;
  background-color: #ededed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dedede));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -moz-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -ms-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -o-linear-gradient(top, #fcfcfc, #dedede);
  background-image: linear-gradient(to bottom, #509DD5, #0072C5);
}
/*opcao "ou" na parte "Salvar ou Cancelar*/
.openerp .oe_fade {
  color: white;
  font-weight: normal;
  text-shadow: 1px 1px 3px black;
}

}
/*Menu central "Mas"*/
.openerp .oe_dropdown_menu > li > a {
  white-space: nowrap;
  display: block;
  color: #4c4c4c;
  text-shadow: none;
  text-decoration: none;
}
/*boton crear,salvar y etc*/
.openerp button.oe_highlight {
  background-color: #c02c2c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#df3f3f), to(#a21a1a));
  background-image: -webkit-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -moz-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -ms-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: -o-linear-gradient(top, #df3f3f, #a21a1a);
  background-image: linear-gradient(to bottom, #A4D871, #056001);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  border-radius: 5px;
}
/*boton crear,salvar y etc quando o mouse passa sobre ele*/
.openerp button.oe_highlight:hover {
background-color: #c63939;
background-image: -webkit-gradient(linear, left top, left bottom, from(#e25858), to(#ab1b1b));
background-image: -webkit-linear-gradient(top, #e25858, #ab1b1b);
background-image: -moz-linear-gradient(top, #e25858, #ab1b1b);
background-image: -ms-linear-gradient(top, #e25858, #ab1b1b);
background-image: -o-linear-gradient(top, #e25858, #ab1b1b);
background-image: linear-gradient(to bottom, #277F0A, #056001);
border-radius: 5px;
}








/*Menu lateral*/
.openerp .oe_leftbar {
  display: none;
  width: 220px;
  background: #34393D;
  border-right: 1px solid #34393D;
  text-shadow: none;
}
/*Sub-titulo menu lateral*/
.openerp .oe_secondary_menu_section {
font-weight: bold;
margin-left: 8px;
color: #4CA0E8;
}
/*Texto menu lateral*/
.openerp .nav-pills li > a {
  padding: 6px 4px 2px 18px;
  color: #999;
}

/*Quando o mouse passa sobre a opcao selecionada*/
.openerp .nav-pills > li.active a:hover, .openerp .nav-pills > li.active a:focus, .openerp a.list-group-item.active a:hover, .openerp a.list-group-item.active a:focus {
  background-color: #0072C5;
}


/*Bolhas informativas*/
.openerp .badge {
  font-weight: normal;
  font-size: 11px;
  background-color: #FF2626;
}
/*Bolha informativa em opcao selecionada*/
.openerp .nav-pills > li.active .badge, .openerp a.list-group-item.active .badge {
  background-color: #FF2626;
  color: white;
  text-shadow: none;
}

/*opcao selecionada*/
.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
background-color: #0072C5;
color: white;
border-radius: 5px;
}
/*Logo menu lateral*/
.openerp .oe_leftbar > div a.oe_logo img {
margin: 5px;
/*width: 111px;*/
height: 80px;
background: white
}
.openerp .oe_leftbar > div a.oe_logo {
display: table-row;
text-align: center;
height: 90px;
}














/*imagens*/
img {
border: 0;
border-radius: 10px;
}
/*Cor do item quando o mouse passa encima*/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: white;
  background-color: #428bca;
}

/*seta de submenu fechado*/
.openerp .oe_secondary_submenu .oe_menu_toggler:before {
  border-left: 4px solid #FFFFFF;
}
/*seta de submenu aberto*/
.openerp .oe_secondary_submenu .oe_menu_opened:before {
  border-top: 4px solid #FFFFFF;
  border-left: 4px solid transparent;
}

/*Toda pagina??*/
.openerp {
padding: 0;
margin: 0;
font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
color: #4c4c4c;
font-size: 13px;
background: white;
}
/*Nome do author ao instalar um modulo*/
span.oe_form_char_content {
/*color: #4C4C4C;*/
}


/*link a*/
.openerp .oe_application a {
color: #0094FF;
/*text-shadow: 0 1px 0px #0E3188;*/
}

a.oe_bold.oe_list_button_import {
  text-shadow: 1px 1px 1px black;
}

/*smart button*/
.openerp .oe_stat_button .stat_button_icon {
  color: #0072C5;
  font-size: 24px;
  padding: 0px 3px;
  width: 37px;
  text-align: center;
}
/*mouse sobre smart-button*/
.openerp .oe_stat_button:hover {
  background: #0072C5;
  color: white;
}
/*cor do texto ao lado dos contatos dentro de um cliente*/
.openerp .ui-widget-content a {
  color: #0072C5;
}
/*Separador horizontal*/
.openerp .oe_horizontal_separator {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0px 10px 0px;
  color: #404040;
}
/*Sujestao de grupo*/
.openerp .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item_image img {
border-radius: 10px;
border: solid 1px rgba(0,0,0,0.03);
width: 65px;
}
/*imagens kanban view*/
.openerp .oe_kanban_view .oe_kanban_image {
display: inline-block;
vertical-align: top;
width: 64px;
height: 64px;
text-align: center;
overflow: hidden;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}







/*imagens do remetente no email*/
.openerp .oe_mail .oe_msg .oe_msg_left a, .openerp .oe_mail .oe_msg .oe_msg_left img {
border: 0;
border-radius: 10px;
}
/*fundo da pagina de email*/
.openerp.openerp_webclient_container {
height: 95%;
height: calc(100% - 34px);
overflow: auto;
background: #ddd;
}
/*fundo das mensagens de email*/
.openerp .oe_mail .oe_msg {
position: relative;
background: white;
border-radius: 10px;
margin-bottom: 2px;
min-height: 42px;
border: solid 1px rgba(0,0,0,0.03);
}
/*fundo de um tipo de mensagen de grupos*/
.openerp .oe_mail .oe_msg.oe_msg_nobody {
background: white;
}
/*Fundo no chatter*/
.openerp .oe_formview {
background: #ddd;
}
/*mensagens do chatter*/
.openerp .oe_record_thread {
display: block;
margin-left: 0px; 
margin-right: 175px;
}

/*seguidores chatter*/
.openerp .oe_followers {
position: relative;
display: inline-block;
padding-top: 5px;
width: 170px;
float: right;
margin-right: 0px;
background: white;
border-radius: 10px;
}
.openerp .oe_followers .oe_subtype_list {
margin-top: 4px;
margin-left: 5px;
}
.openerp .oe_followers .oe_follower_title_box {
margin-top: 10px;
margin-bottom: 4px;
margin-left: 5px;
}
.oe_follower_list {
margin-left: 5px;
}
/*chatter quando nao tem mensagens */
.openerp .oe_view_nocontent {
padding: 15px;
margin-top: 0;
color: #777777;
font-size: 125%;
max-width: 700px;
background: white;
border-radius: 10px;
}

/*Escrever email*/
.openerp .oe_form_nosheet {
background: white;
}

.openerp .oe_form td.oe_form_group_cell_label label {
line-height: 18px;
display: block;
min-width: 150px;
font-weight: bold !important;
margin-left: 10px;
}


/*Grupos sugeridos*/
.openerp .oe_mail_wall_aside .oe_sidebar_suggestion {
background-color: #FFFFFF;
border-radius: 10px;
padding-top: 1px;
}

/*comentarios nos documentos*/
.openerp .oe_mail .oe_msg.oe_msg_notification {
background: white;
}
/*mensagens de email*/
.openerp .oe_mail_wall .oe_mail {
margin: 16px;
width: 830px;
display: inline-block;
}
element.style {
}
.openerp .oe_mail_wall .oe_mail_wall_aside {
margin: 16px;
position: relative;
display: inline-block;
vertical-align: top;
width: 230px;
}

/*imagen do calendario*/
.openerp .oe_form .oe_input_icon {
cursor: pointer;
margin: 3px 0 0 -21px;
vertical-align: top;
width: 15px;
border-radius: 0px;
}


/*Vista de calendario*/
.fc-border-separate th, .fc-border-separate td {
border-width: 1px 0 0 1px;
background: white;
border-radius: 3px;
}
/*negocinho que fica do lado do calendario*/
.oe_calendar_responsible {
background: white;
border-radius: 5px;
border: 1px solid rgb(221, 221, 221);
}







/*vista de graficos*/
.graph_pivot_mode {
position: initial;
background: white;
border-radius: 10px;
}
.graph_chart_mode {
position: relative;
background: white;
border-radius: 10px;
}
/*bordas do titulo do grafico*/
.graph_main_content thead th {
border-left: 1px solid #b8b8b8;
border-top: 1px solid #b8b8b8;
}

/*Vista de lista*/
/*cor de uma linha*/
.openerp .oe_list_content > tbody > tr:nth-child(odd) {
  background-color: #f0f0fa;
  background-color: #efeff8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0fa), to(#eeeef6));
  background-image: -webkit-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -moz-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -ms-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: -o-linear-gradient(top, #f0f0fa, #eeeef6);
  background-image: linear-gradient(to bottom, #DCEDFD, #C4DEF1);
}
/*Cor da lixeira para apagar linha*/
.openerp .oe_i {
font-family: "mnmliconsRegular" !important;
font-size: 21px;
font-weight: 300 !important;
color: rgb(3, 88, 150);
}
/*cor da outra linha*/
.oe_view_manager_view_list {
background: white;
}
/*cor da outra linha em modo edicao*/
.openerp .oe_list_content > tbody > tr {
height: 27px;
border-top: 1px solid #ddd;
background: white;
}
/*Fundo da lista
.openerp .oe_application > div > .oe_view_manager > .oe_view_manager_wrapper > div > .oe_view_manager_body {
position: absolute;
position: static\9;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: auto;
background: white;
}*/
/*linha final da lista*/
.openerp .oe_list_content > tfoot {
border-top: 2px solid #cacaca;
border-bottom: 1px solid #cacaca;
background: #C4DEF1;
font-weight: bold;
}

/*cor do cabecalho*/
.openerp .oe_list_content > thead {
border-bottom: 2px solid #0072C5;
vertical-align: top;
background-image: linear-gradient(to bottom, #509DD5, #0072C5);
color: white;
}

/*Fundo */
.openerp .oe_application .oe_form_sheetbg {
background: #ddd;
border-bottom: 1px solid #ddd;
}
/*Sheet folha*/
.openerp .oe_application .oe_form_sheet {
border: 1px solid #c8c8d3;
-moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}


/*Vista de formulario*/
/*cor do campo requerido*/
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) {
  background-color: rgba(0, 114, 197, 0.23) !important;
}

/*About Sobre Rex*/
.openerp .oe_about a {
color: #0094FF;
}
.openerp .oe_about .label {
background-color: #0094FF;
}

/*Database selector tela de login*/
body.oe_single_form {
/* background: #eee url(/web/static/src/img/form_sheetbg.png); */
height: 100%;
background: #34393D;
}
/*barra inferior da tela de login*/
body.oe_single_form .oe_single_form_footer {
position: absolute;
bottom: -30px;
right: 0px;
width: 100%;
text-align: center;
background: #F0EEEE;
border-radius: 5px;
}

/*Testes*/

.openerp ul.oe_form_status_clickable li > .label {
  color: #0072C5;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  background: yellow;
}

.openerp .oe_navbar .dropdown-menu li a, .openerp .oe_navbar .dropdown-menu li a:hover, .openerp .oe_navbar .dropdown-menu li a:focus {
  color: yellow;
}

/* O funco que aparece quando entra no stock picking
.openerp .oe_background_grey {
  background: green !important;
}
*/

.openerp_ie ul.oe_form_status li > .arrow span, .openerp_ie ul.oe_form_status_clickable li > .arrow span {
  background-color: yellow !important;
}

/* Propiedades del boton MAS */
.openerp .oe_form_field_many2one .oe_m2o_cm_button {
  line-height: 24px;
  float: right;
  padding-left: 2px;
  color: #0072C5;
}
.fa-plus {
  font-size: 1.7em;
}
.openerp .oe_list.oe_list_editable.oe_editing .oe_m2o_cm_button {
    line-height: 34px;
}
