.modal .modal-header button.dialog_button_extend {
  padding-right: 3px;
}

.modal .modal-header button.dialog_button_restore {
  padding-right: 3px;
}

.dialog_full_screen {
    width: calc(100% - 50px);
}

.modal .modal-header button.close {
    font-size: 14px;
}
