.oe_m2o_drop_down_button
{
position:relative;
left:11em;
}

.openerp .searchview_extended_prop_value .oe_form_field_with_button
{
    position: relative;
}

.openerp .oe_searchview_drawer .web_advanced_search_x2x_domain
{
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
/* copy search view's button style */
.openerp .oe_searchview_drawer .web_advanced_search_x2x_search:before
{
    font: 21px "mnmliconsRegular";
    content: "r";
    color: #a3a3a3;
    margin-left: 5px;
}
.openerp .oe_searchview_drawer .web_advanced_search_x2x_search
{
    font-size: 1px;
    letter-spacing: -1px;
    color: transparent;
    text-shadow: none;
    font-weight: normal;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    border: none;
    background: transparent;
}
