// Form Icon
.o_form_view {
    .oe_button_box {
        .oe_stat_button {
            .o_button_icon {
                color: $o-community-color;
            }
        }
    }
}

// Required Field
.o_required_modifier {
    &.o_input, .o_input {
        background-color: $o-required-color !important;
        color: $o-required-text-color;
    }
}

// Widget Button
.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $o-community-color;
    }
}
