/* Copyright 2012 Guewen Baconnier (Camptocamp SA)
 * License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). */

.openerp .oe_translation_field {
  width: 95%;
}
.openerp .oe_translation_field.touched {
  border: 1px solid green !important;
}
