.openerp.openerp_webclient_container
{
    height: 100%;
}
.openerp .oe_leftbar
{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    width: auto;
}
.openerp .oe_leftbar > div
{
    width: auto;
}
.openerp .oe_leftbar > div > div > div
{
    overflow-y: auto;
}
.openerp .oe_leftbar > div > div > div > div.oe_secondary_menus_container
{
    position: static;
}
#oe_main_menu_navbar
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}
