/* custom kanban style */
.o_kanban_view .oe_dashboard_tile {
    width: 150px;
    height: 150px;
}

.o_kanban_view.o_kanban_ungrouped .o_kanban_record.oe_dashboard_tile {
    /* override max-width rules */
    margin: 4px !important;
    /* flex width */
    -ms-flex: 1 1 150px;
    -moz-flex: 1 1 150px;
    -webkit-flex: 1 1 150px;
    flex: 1 1 150px;
}

.o_kanban_view .oe_dashboard_tile .tile_label,
.o_kanban_view .oe_dashboard_tile .tile_primary_value,
.o_kanban_view .oe_dashboard_tile .tile_secondary_value {
    text-align: center;
    font-weight: bold;
}

.o_kanban_view .oe_dashboard_tile .tile_label {
    padding: 5px 0px;
    font-size: 15px;
}

.o_kanban_view .oe_dashboard_tile .tile_primary_value{
    font-size: 54px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.o_kanban_view .oe_dashboard_tile .tile_secondary_value{
    display: none;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.o_kanban_view .oe_dashboard_tile .with_secondary .tile_primary_value{
    font-size: 38px;
    bottom: 30px;
}

.o_kanban_view .oe_dashboard_tile .with_secondary .tile_secondary_value{
    display: block;
}

/* Favorites menu in control panel */
.o_add_to_dashboard_tile {
    /* hidden by default */
    display: none; 
}

/* Make dropdown menu button not affect text flow */
.o_kanban_view .oe_dashboard_tile .o_dropdown_kanban {
    float: none;
    position: absolute;
    right: 8px;
}
