/* custom kanban style */
.o_kanban_view .oe_dashboard_tile {
    height: 150px;
}

/* Fix bug where draggin a tile results in the element losing its style */
.o_kanban_view .oe_dashboard_tile {
	padding: 0px !important;
}
.o_kanban_view .oe_dashboard_tile .tile_background {
	padding: 8px;
	height: 100%;
}

.o_kanban_view .oe_dashboard_tile .tile_label,
.o_kanban_view .oe_dashboard_tile .tile_primary_value,
.o_kanban_view .oe_dashboard_tile .tile_secondary_value {
    text-align: center;
    font-weight: bold;
}

.o_kanban_view .oe_dashboard_tile .tile_label {
    padding: 5px 0px;
    font-size: 15px;
}

.o_kanban_view .oe_dashboard_tile .tile_primary_value{
    font-size: 54px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.o_kanban_view .oe_dashboard_tile .tile_secondary_value{
    display: none;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.o_kanban_view .oe_dashboard_tile .with_secondary .tile_primary_value{
    font-size: 38px;
    bottom: 30px;
}

.o_kanban_view .oe_dashboard_tile .with_secondary .tile_secondary_value{
    display: block;
}

/* Make dropdown menu button not affect text flow */
.o_kanban_view .oe_dashboard_tile .o_dropdown_kanban {
    float: none;
    position: absolute;
    right: 8px;
}
