/* Button style */
.openerp .oe_view_manager .oe_view_manager_switch .oe_vm_switch_timeline:after {
    content: "N";
}

/* very light gray background in weekends */
.vis-timeline .vis-grid.vis-saturday,
.vis-timeline .vis-grid.vis-sunday {
    background: #e7e7e7;
}

.vis-item .vis-item-overflow {
    overflow: visible;
}

.oe_chatter_toggle {
    padding: 18px;
}

.oe_timeline_view .vlabel .inner:hover{
    cursor: pointer;
}

.oe_timeline_view svg.oe_timeline_view_canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 5px;
    top: 5px;
}
