.test-ribbon{
    width: 200px;
    background: #e43;
    position: absolute;
    top: 50px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 1000;
    position: fixed;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    background: rgba(255, 0, 0, .6);;
}

.test-ribbon b {
    font-size: 20px;
}
